.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area {
  position: relative;
  background-color: black;
  border: 1px black solid;
  width: 494px;
  height: 400px;
}